<h1>企業一覧</h1>

<ul class="list-group">
  <li class="list-group-item bg-light">業種一覧</li>
  <% @sectors.each do |sector| %>
    <!--<= link_to sector_path(sector.id) do %>-->
    <li class="list-group-item bg-transparent bg-gradient text-dark", style="text-decoration: underline;"><%= sector.name %></li>
    <!--< end %>-->
  <% end %>
</ul>


<% @customers.each do |customer| %>
<%= link_to mypage_customers_path(customer.id)  do %>
  <%= customer.company_name %>
<% end %>
<% end %>

<%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>