<h1>企業一覧</h1>

<ul class="list-group">
  <li class="list-group-item bg-light">業種一覧</li>
  <% @sectors.each do |sector| %>
    <!--<= link_to sector_path(sector.id) do %>-->
    <li class="list-group-item bg-transparent bg-gradient text-dark", style="text-decoration: underline;"><%= sector.name %></li>
    <!--< end %>-->
  <% end %>
</ul>

<% @customers.each do |customer| %>
<table>
  <tr>
    <th>企業名 :</th>
    <td>
      <%= link_to customer_path(customer.id)  do %>
        <%= customer.company_name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>業種</th>
    <td></td>
  </tr>
  <% @issues.each do |issue| %>
  <tr>
    <th>ニーズ</th>
    <td><%= issue.needs %></td>
  </tr>
  <tr>
    <th>課題</th>
    <td></td>
  </tr>
  <% end %>
</table>

<% end %>