<div class="container">
  <div class="row">
    <div class="col-12 text-center d-flex justify-content-center align-items-center" style="height: 400px;">
      <h5>
        <i class="fas fa-check-circle fa-5x mb-5" style="color: #28a745;"></i><br>
        お問い合わせありがとうございます。<br>
        ご返信まで今しばらくお待ちください。<br>
      </h5>
    </div>
    <div class="text-center mt-5">
      <%= link_to "トップページ", root_path %>
    </div>
  </div>
</div>