 <!--フッターを固定  -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="footer-absolute text-center text-bottom">©︎2022 fu-kun<p>
      </div>
    </div>
  </div>