<%= form_with(model:@sector, url:sectors_path, method: :post, local:true) do |f| %>
  <div class="form-group col-xs-9">
    <%= f.label :業種名, class: "col-sm-2" %>
    <%= f.collection_select :sector_id, Sector.all, :id, :name, include_blank: "--選択してください--", class: "col-sm-5" %>
  </div>
  <%= f.submit "編集内容を保存", class: 'btn btn-success offset-2' %>
<% end %>