<!--messageを部分更新。appendメソッドで要素を追加-->
$('.message').append("<div class='mycomment'><p><%= @chat.message %></p></div><div class='days'><p><%= @chat.created_at.strftime('%Y/%m/%d %H:%M') %></p></div>");
<!--$('.message').append("<div class="days"><p><= @chat.created_at.strftime("%Y/%m/%d %H:%M") %></p></div>");-->

<!--$(".message").click(function(){-->
<!--	$('mine').append('<div class='mycomment'><p><= @chat.message %></p></div>', '<div class="days"><p><= @chat.created_at.strftime("%Y/%m/%d %H:%M") %></p></div>');-->
<!--});-->

<!--チャット投稿後、フォームの値に前回の投稿内容が残らないようにする-->
<!-- ID=# CLASS=. TAG=originlname-->
$('#chat_message').val("")

window.onload = function() {
  if (document.getElementById("area")) {
    var scrollPosition = document.getElementById("area").scrollTop;
    var scrollHeight = document.getElementById("area").scrollHeight;
    document.getElementById("area").scrollTop = scrollHeight;
  }
}


// チェックボックスの取得
const btn = document.querySelector("#btn-mode");

// チェックした時の挙動
btn.addEventListener("change", () => {
  if (btn.checked == true) {
    // ダークモード
    document.body.classList.remove("light-theme");
    document.body.classList.add("dark-theme");
  }
  end
});