.needs {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 制限したい行数が3の場合 */
  overflow: hidden;
  height:3em; /*行全体の高さを固定 */
}

.challenge {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* 制限したい行数が3の場合 */
  overflow: hidden;
}


// 退会画面　ボタンのサイズ変更
.btn-default {
    width: 106px;
    height: 38px;
}

// 企業詳細
.issue_top {
  margin-top: 150px;
}