<div class="container_login pt-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="login_top col-12">
        <div class="card col-12 mt-5" style="width: 40rem; height: 30rem; margin:0 auto; background-color: #000">
          <div class="text-center font-weight-bold pt-3" style="color: #f8f9fa">
            <h3 >ログイン</h3>
            <p style="font-size: 13px;">メールアドレス、パスワードをご入力の上、「ログイン」ボタンをクリックしてください。</p>
          </div>
          <%= f.email_field :email, :placeholder => "メールアドレス",class:"login_field text-dark" %>
          <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード",class:"login_field" %>
          <%= f.submit "ログイン",class:"login_actions btn btn-dark rounded-pill" %>
        </div>
      </div>
    </div>
  <% end %>
</div>