<header class="shadow-sm">
  <table class="col-12">
    <tr>
    <th class="pl-5">
      <div class="navbar-brand" href="/">
        <%= link_to root_path do %>
          <%= image_tag 'IMG_0463.JPG', size: "100x50" %>
        <% end %>
      </div>
    </th>
    <td class="text-right pr-5">
      <% if customer_signed_in? %>
        <% unless current_page?(root_path) %>
          <%= render 'public/searches/form' %>
        <% end %>
    </td>
    <td>
      <div class="text-center mt-3" style="font-size: 11px;">
        <%= link_to notifications_path do %>
          <i class="fas fa-bell fa-2x" style="color: #343a40;"></i><br>
          <div class="nav-link text-dark">
          <% if unchecked_notifications.any? %>
            <i class="fas fa-circle n-circle" style="color: #efa04c;"></i>
          <% end %>
            お知らせ
          </div>
        <% end %>
      <% end %>
      </div>
    </td>
    </tr>
  </table>
  </container>
</header>